@charset 'UTF-8';

@import url("./reset.min.css");
@import url("./reset.css");
@import url("./font.css");
@import url("./common.css");




/* hero section  */
.hero {
    width: 100%;
    height: 100%;
    padding-top: 4.2rem;
    padding-bottom: 8rem;
    margin: 0 auto;
    position: relative;
}

.hero-wrap {
    width: 100%;
    height: 49rem;
    border-radius: 1.875rem;
    overflow: hidden;
}

.hero-cont {
    position: absolute;
    top: 21%;
    left: 9%;
    z-index: 5;
}

.hero-title-main {
    font-family: 'MaruBuri';
    font-weight: 300;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.hero-title-main span {
    font-weight: 700;
}

.hero-title-sub {
    font-family: "Noto Serif", serif;
    font-weight: 300;
    color: var(--secondary-color);
    line-height: 1.5;
}

.hero-btn {
    display: flex;
}

.hero-btn button {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 0.8rem 1.9rem 0.8rem 1.5rem;
    border-radius: 0.3125rem;
    margin-top: 3.3rem;
    margin-right: 1.5rem;
}

.hero-btn p {
    font-size: 1.15rem;
}

.hero-btn button img {
    width: auto;
    height: 0.875rem;
    object-fit: cover;
}

.hero-btn button:hover {
    font-weight: 600;
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: background-color 0.5s ease-out;
}

.pagenation_wrap {
    display: flex;
    gap: 10px;
}

.pagenation_wrap>li button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
}


.pagenation_wrap>li button .indicator-gauge {
    height: 7px;
    background: rgba(255, 255, 255, .3);
    position: relative;
    border-radius: 20px;
    width: 100px;
    overflow: hidden;
}

.pagenation_wrap>li button .indicator-gauge .fill {
    width: 100%;
    height: 7px;
    background: var(--point-color);
    transform: scaleX(0);
    transform-origin: left;
}

.pagenation_wrap>li button.on {
    pointer-events: none;
}

.pagenation_wrap>li button.done .indicator-gauge .fill {
    transform: scaleX(1);
}

/* 재생버튼  */
.autoplay-toggle {
    background: rgba(255, 255, 255, .2);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.autoplay-toggle .icon-pause {
    margin-bottom: 4px;
    margin-left: 1px;
}

.autoplay-toggle .icon-play {
    margin-bottom: 2px;
    margin-left: 0.5px;
}

.swiper-control {
    margin-top: 4rem;
    display: flex;
    gap: 20px;
    align-items: center;
}



/* info section  */
.info {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.info-wrap {
    width: 100%;
    height: 100%;
}

.info-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.info-wrap h2 {
    font-family: 'MaruBuri';
    color: var(--secondary-color);
    margin-bottom: 2rem;
    font-weight: 400;
    width: 40rem;
}

.info-wrap .title-b {
    font-weight: 600;
}

.info-wrap p {
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-family: "Noto Serif", serif;
    line-height: 160%;
}

.info-wrap .info-sub-title {
    font-family: 'MaruBuri';
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 500;
}


/* about section  */
.about-wrap {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, #efefef);
    position: relative;
    /* 기준점 역할 */
    overflow: hidden;
    /* 원이 밖으로 튀어나가지 않게 자름 */
    z-index: 1;
}

.about-wrap::after {
    content: "";
    position: absolute;
    width: 68.75rem;
    height: 43.75rem;
    border-radius: 50%;
    background: linear-gradient(-90deg, rgba(239, 239, 239, 0) 10%, rgba(239, 239, 239, 1) 60%);
    top: -56%;
    right: 0;
    z-index: -100;
    pointer-events: none;
}

.about-title {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 8rem;
    gap: 4rem;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
}

.about-main-title {
    text-transform: uppercase;
    color: var(--primary-color);
}

.about-main-title span {
    color: var(--point-color);
}

.about-sub-title {
    margin-bottom: 0.625rem;
    font-family: "Noto Serif", serif;
}

.about-cont-wrap {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.about-cont {
    display: flex;
    margin-top: 3.2rem;
    gap: clamp(3.2rem, 7vw, 8.5rem);
    padding-right: 0;
    margin-bottom: 5rem;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

.about-more-btn a {
    width: 13rem;
    height: 3.125rem;
    display: flex;
    padding: 0.75rem 0 0 1.56rem;
    align-items: center;
    gap: 0.60rem;
    position: relative;
}

.about-more-btn a::before {
    content: "";
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.about-more-btn a p {
    width: auto;
    display: block;
    font-size: 1.5625rem;
    font-family: "DM Serif Text", serif;
    text-transform: uppercase;
    color: var(--text-color);
    align-items: center;
}

.about-more-btn img {
    width: 2.5rem;
    height: 2.125rem;
    object-fit: cover;
}

.mySwiper-about {
    flex: 1;
}

.about-slide .swiper-slide img {
    width: 100%;
    height: 27rem;
    object-fit: cover;
    border-radius: 0 1.875rem 0 0;
}

.about-text {
    width: 100%;
}

.about-text {
    font-size: 1.4rem;
    margin-top: 1.375rem;
}

.about-text h3 {
    font-weight: 600;
}



/* active logo section  */
.m-flow-sec {
    padding: 56px 0;
    /* display: none; */
    background-image: linear-gradient(to top, transparent, #efefef);
    /* marquee(.text-slide)가 width:max-content라 뷰포트 밖으로 퍼지지 않도록 클립 */
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

.m-flow-sec > div {
    overflow-x: hidden;
    max-width: 100%;
}

.m-flow-sec .text-slide {
    display: flex;
    overflow: hidden;
    width: max-content;
    animation: marquee-track 80s linear infinite;
    will-change: transform;
}

.m-flow-sec .text-slide h3 {
    font-family: "DM Serif Text", serif;
    font-size: 8.8rem;
    font-weight: 400;
    white-space: nowrap;
    flex: 0 0 auto;
    min-width: max-content;
    padding-right: 1rem;
    text-shadow: -2px 0px 3px #8A8C5D, 0px 2px 3px #8A8C5D, 2px 0px 3px #8A8C5D, 0px -1px 3px #8A8C5D;
}

.m-flow-sec .text-slide h3 span {
    font-family: "Noto Serif", serif;
    font-size: 3.2rem;
    font-weight: 400;
}

section.m-flow-sec div .text-slide h3,
section.m-flow-sec div .text-slide h3 span {
    color: #f7f7f7;
}

@keyframes marquee-track {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


/* process sec  */

#smooth-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#smooth-content {
    will-change: transform;
}

.process-container {
    width: 100%;
    min-height: 100vh;
    padding: 3.8rem 1.25rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-color);
}

.stacked-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.card {
    position: relative;
    width: 100%;
    height: 75vh;
    margin-bottom: 90vh;
    background-color: var(--secondary-color);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}

.card-content,
.img-wrapper {
    width: 50%;
    height: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 5rem 3.4rem;
}

.process-title {
    font-family: "Noto Serif", serif;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.process-text .sub {
    font-family: "Noto Serif", serif;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2.3rem;
}

.process-text .desc {
    line-height: 1.6;
    width: 100%;
    font-size: 1.12rem;
}

.img-wrapper {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.spacer {
    background-color: var(--black-color);
    width: 100%;
    height: 6rem;
}


/* portfolio sec  */
.port-wrap {
    width: 100%;
    padding: 6.2rem 0;
}

.port-slide {
    display: flex;
    overflow: hidden;
}

.port-slide>div {
    white-space: nowrap;
}

.port-slide>div img {
    margin-right: 1rem;
}

.port-02 .port-slide>div.origin {
    animation: 40s linear 0s infinite normal forwards running origin_p_left;
    margin-right: 0.2rem;
}

.port-02 .port-slide>div.clone {
    animation: 40s linear 0s infinite normal forwards running origin_p_left;
}

.port-01 .port-slide>div.origin {
    animation: 40s linear 0s infinite normal forwards running origin_p_right;
    margin-right: 0.2rem;
}

.port-01 .port-slide>div.clone {
    animation: 40s linear 0s infinite normal forwards running origin_p_right;
}

@keyframes origin_p_left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%)
    }
}

@keyframes origin_p_right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


.port-cont {
    display: flex;
    align-items: center;
}

.port-01 {
    margin-bottom: 4.375rem;
}

.port-01 .port-text,
.port-02 .port-text {
    width: 100%;
    max-width: 37.875rem;
    margin: 0 auto;
}

.port-01 .port-text .subtitle,
.port-02 .port-text .subtitle {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.port-01 .port-text .subtitle,
.port-01 .port-text .desc,
.port-02 .port-text .subtitle,
.port-02 .port-text .desc {
    font-weight: 400;
}

.port-01 .port-text span,
.port-02 .port-text span {
    font-weight: 600;
}

.port-01 .subtitle,
.port-01 .desc {
    text-align: right;
}

.port-slide {
    width: 55%;
}

.port-text-wrap {
    width: 45%;
}

.port-slide img {
    width: 22.5rem;
    height: 22.5rem;
    object-fit: cover;
}

.mySwiper-port {
    flex: 1;
}



/* .main-copy-wrap {
    width: 100%;
    height: 100vh;
    position: relative;
}
.main-copy-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-copy-box .title {
    font-weight: 400;
    text-align: center;
}
.main-copy-box .title-bb,
.main-copy-box .title span {
    font-weight: 600;
    text-align: center;
} */

/* main copy sec */
.main-copy-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 6.2rem;
}

.main-copy-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* 기본 상태: 애니메이션 없음 */
.main-copy-box .title {
    position: relative;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 400;
    color: var(--black-color);
    margin-bottom: 1.2rem;
    width: fit-content;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent;
}

/* [.is-active] 클래스가 붙었을 때만 애니메이션 실행 */
.main-copy-box.is-active .title:nth-child(1) {
    animation:
        typing 2s steps(20) 0.5s forwards,
        cursor-show 0.1s 0.5s forwards,
        blink 0.5s 0.5s 4 forwards;
}

.main-copy-box.is-active .title:nth-child(2) {
    animation:
        typing 2s steps(20) 2.5s forwards,
        cursor-show 0.1s 2.5s forwards,
        blink 0.5s 2.5s 4 forwards;
}

.main-copy-box.is-active .title:nth-child(3) {
    animation:
        typing 2.5s steps(25) 4.5s forwards,
        cursor-show 0.1s 4.5s forwards,
        blink 0.5s 4.5s 5 forwards;
}

.main-copy-box .title-bb,
.main-copy-box .title span {
    font-weight: 600;
}

.main-copy-box .title span {
    color: var(--point-color);
}


/* [애니메이션 정의] */

@keyframes typing {
    from {
        max-width: 0;
    }

    to {
        max-width: 100%;
    }
}

@keyframes cursor-show {
    to {
        border-right-color: #fff;
    }
}

/* 깜빡임 애니메이션: 100% 지점에서 투명하게 끝나도록 설정 */
@keyframes blink {

    0%,
    49% {
        border-right-color: var(--gray-color);
    }

    50%,
    100% {
        border-right-color: transparent;
    }
}




/* contact sec  */
.contact-logo-wrap {
    padding-top: 4.375rem;
}

.contact-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-container {
    display: flex;
    gap: 1.875rem;
    height: 54rem;
    padding-bottom: 3.5rem;
}

.contact-logo {
    width: 3.75rem;
    height: 5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.contact-d-01 {
    background-image: url("../images/contact-01.png");
    width: 7%;
    height: 100%;
    border-radius: 1.875rem;
}

.contact-d-02 {
    background-image: url("../images/contact-02.png");
    width: 23%;
    height: 100%;
    border-radius: 1.875rem;
    position: relative;
}

.contact-d-02 p {
    position: absolute;
    padding: 2.25rem;
    bottom: 0;
    left: 0;
    color: var(--secondary-color);
}

.contact-d-03 {
    width: 70%;
    height: 100%;
}

.contact-d-03 form,
.contact-d-03 form fieldset {
    height: 100%;
}

.contact-d-03 form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.875rem;
}

.contact-box {
    background-color: var(--secondary-color);
    border-radius: 1.875rem;
    height: calc(100% - 7.5rem);
    padding: 2.8rem 2.8rem 1.8rem 2.8rem;
}

.contact-box p,
legend {
    color: #A69576;
    font-size: 1.25rem;
    letter-spacing: -1px;
    font-weight: 500;
}

.contact-form {
    margin-top: 1.71rem;
    border-bottom: 1px solid #A69576;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.contact-info .contact-form {
    width: calc((100% - 1.875rem) / 2);
}

input,
textarea {
    background: none;
    border: none;
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: -1px;
    caret-color: var(--text-color);
    color: var(--text-color);
    border-width: 0;
    width: 100%;
    height: 2.4rem;
    resize: none;
    font-family: pretendard;
}

input:focus,
textarea:focus {
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

.message {
    width: 100%;
    height: 15.375rem;
    margin-top: 0.5rem;
}

.contact-send {
    background-color: var(--black-color);
    width: 100%;
    height: 5.625rem;
    border-radius: 1.875rem;
    position: relative;
}

.contact-send>div {
    padding: 1.25rem 3.375rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.send-txt {
    font-family: "DM Serif Text", serif;
    color: var(--secondary-color);
    font-size: 1.9rem;
    text-transform: uppercase;
    line-height: 130%;
    letter-spacing: -1px;
}

.send-img {
    width: 2.3rem;
    height: 2.3rem;
    object-fit: cover;
}

.contact-send div:nth-of-type(2) {
    display: none;
}


/* 1680px 1280px 1024px 768px 540px 414px */

@media(max-width: 1680px) {
    .about-cont {
        gap: 7rem;
    }

    .about-slide .swiper-slide img {
        height: 24rem;
    }

    .stacked-cards {
        width: clamp(75%, 4vh, 80%);
    }

    .process-title {
        font-size: 2rem;
    }

    .process-text .sub {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}

@media(max-width: 1280px) {

    .info-wrap h2 {
        font-size: 3.5rem;
    }

    .about-cont {
        gap: 4rem;
    }

    .about-sub-title {
        margin-bottom: 0;
        font-family: "Noto Serif", serif;
    }

    .about-slide .swiper-slide img {
        height: 22rem;
    }

    .stacked-cards {
        width: clamp(80%, 4vh, 85%);
    }

    .card-content {
        width: 60%;
    }

    .img-wrapper {
        width: 40%;
    }

    .contact-d-01 {
        display: none;
    }

    .contact-d-02 {
        width: 15%;
    }

    .contact-d-03 {
        width: 85%;
    }

    .contact-d-02 p {
        display: none;
    }
}


@media (max-width: 1024px) {
    .menu-list {
        display: none;
    }

    .menu-list-btn .menu-contact {
        display: none;
    }

    .hero-cont {
        top: 25%;
    }

    .swiper-control {
        margin-top: 7rem;
    }

    .pagenation_wrap>li button .indicator-gauge {
        width: 80px;
    }

    .info-wrap h2 {
        font-size: 3rem;
    }
    .info-wrap .info-sub-title {
        font-size: 1.6rem;
    }
    .info-wrap p {
        font-size: 1.3rem;
    }

    .about-more-btn {
        display: none;
    }

    .about-title {
        flex-direction: column;
        gap: 0.5rem;
        align-items: inherit;
    }

    .about-main-title {
        font-size: 5rem;
    }

    .about-sub-title {
        font-size: 1.5rem;
    }

    .about-cont {
        margin-top: 3rem;
    }

    .m-flow-sec .text-slide h3 {
        font-size: 9rem;
    }

    .card {
        height: 70vh;
    }

    .stacked-cards {
        width: clamp(85%, 4vh, 90%);
    }

    .port-01 .port-text .subtitle,
    .port-02 .port-text .subtitle {
        font-size: 2rem;
        margin-bottom: 1.25rem;
    }

    .port-slide img {
        width: 22rem;
        height: 22rem;
    }

    .contact-d-02 {
        display: none;
    }

    .contact-d-03 {
        width: 100%;
    }

    .send-txt {
        font-size: 2rem;
    }
}


@media (max-width: 890px) {
    .card {
        height: 65vh;
        flex-direction: column;
    }

    .card-content,
    .img-wrapper {
        width: 100%;
    }

    .card-content {
        padding: 4rem 3.5rem 2.5rem 3.5rem;
    }

    .process-title {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {

    .hero {
        padding-top: 4rem;
        padding-bottom: 7rem;
    }

    .hero-cont {
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }

    .hero-cont {
        width: 80%;
    }

    .hero-title-sub {
        font-size: 1.4rem;
    }

    .hero-btn {
        justify-content: center;
    }

    .hero-btn p {
        font-size: 1.1rem;
    }

    .pagenation_wrap>li button .indicator-gauge {
        width: 60px;
    }

    .swiper-control {
        justify-content: center;
    }

    .about-main-title {
        font-size: 4.5rem;
    }

    .about-sub-title {
        font-size: 1.4rem;
    }

    .info-wrap h2 {
        width: 35rem;
    }

    .m-flow-sec .text-slide h3 {
        font-size: 8rem;
    }

    .card {
        height: 60vh;
    }

    .stacked-cards {
        width: clamp(90%, 3vh, 95%);
    }

    .process-title {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    .process-text .sub {
        font-size: 1.2rem;
        margin-bottom: 1.7rem;
    }

    .process-text .desc {
        line-height: 1.6;
        width: 100%;
        font-size: 1.125rem;
    }

    .port-wrap {
        padding-left: 1.54rem;
        padding-right: 1.54rem;
    }

    .port-text-wrap {
        width: 100%;
    }

    .port-01 {
        flex-direction: column-reverse;
        margin-bottom: 6rem;
    }

    .port-02 {
        flex-direction: column;
    }

    .port-01>.container,
    .port-02>.container {
        padding: 0;
    }

    .port-01 .port-text,
    .port-02 .port-text {
        margin: 0 0 2rem;
        max-width: 100%;
    }

    .port-01 .port-text .subtitle,
    .port-02 .port-text .subtitle {
        font-size: 1.8rem;
        margin-bottom: 1.25rem;
    }

    .port-01 .subtitle,
    .port-01 .desc {
        text-align: left;
    }

    .port-02 .subtitle,
    .port-02 .desc {
        text-align: right;
    }

    .port-01 .desc,
    .port-02 .desc {
        font-size: 1.3rem;
    }

    .port-slide {
        width: 100%;
        padding-left: 1.54rem;
        padding-right: 1.54rem;
    }

    .port-slide img {
        width: 18rem;
        height: 18rem;
    }

    .main-copy-box .title {
        margin-bottom: 1rem;
    }

    .contact-box {
        padding: 3rem 3rem 2rem 3rem;
    }

    .message {
        height: 18rem;
    }

    .send-txt {
        font-size: 1.8rem;
    }
}

@media (max-width: 540px) {

    .info-wrap h2 {
        font-size: 2.5rem;
        margin-bottom: 1.2rem;
    }
    .info-wrap .info-sub-title {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    .info-wrap p {
        font-size: 1.2rem;
    }
    .hero-title-sub {
        font-size: 1.3rem;
    }

    .about-main-title {
        font-size: 4rem;
    }

    .about-sub-title,
    .about-text {
        font-size: 1.3rem;
    }

    .m-flow-sec .text-slide h3 {
        font-size: 7rem;
    }

    .process-container {
        width: 100%;
        min-height: 100vh;
        padding: 60px 20px 0;
    }

    .stacked-cards {
        width: clamp(95%, 3vh, 100%);
    }

    .card {
        height: 55vh;
    }

    .card-content {
        padding: 3.5rem 3rem 2rem 3rem;
    }

    .process-text {
        line-height: 1.3;
        margin-top: 0;
    }

    .img-wrapper {
        border-radius: 10px 10px 0 0;
    }
}

@media (max-width: 414px) {
    .hero-title-sub {
        font-size: 1.2rem;
    }
}