@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('//fonts.googleapis.com/earlyaccess/nanummyeongjo.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");




/* hero section  */
.hero {
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 9.5rem;
    margin: 0 auto;
    position: relative;
}

.hero-wrap {
    width: 100%;
    height: 53rem;
    border-radius: 1.875rem;
    overflow: hidden;
}

.hero-cont {
    position: absolute;
    top: 22%;
    left: 10%;
    z-index: 5;
}

.hero-title-main {
    font-family: 'MaruBuri';
    font-weight: 300;
    color: var(--secondary-color);
    margin-bottom: 1.25rem;
}

.hero-title-main span {
    font-weight: 700;
}

.hero-title-sub {
    font-family: "Noto Serif", serif;
    font-weight: 300;
    color: var(--secondary-color);
}

.hero-btn {
    display: flex;
}

.hero-btn button {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 0.9rem 2.2rem 0.9rem 1.8rem;
    border-radius: 0.3125rem;
    margin-top: 4.375rem;
    margin-right: 1.5rem;
}

.hero-btn p {
    font-size: 1.35rem;
}

.hero-btn button img {
    width: auto;
    height: 0.875rem;
    object-fit: cover;
}

.hero-btn button:hover {
    font-weight: 600;
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: background-color 0.5s ease-out;
}

.pagenation_wrap {
    display: flex;
    gap: 10px;
}

.pagenation_wrap>li button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
}


.pagenation_wrap>li button .indicator-gauge {
    height: 7px;
    background: rgba(255, 255, 255, .3);
    position: relative;
    border-radius: 20px;
    width: 100px;
    overflow: hidden;
}

.pagenation_wrap>li button .indicator-gauge .fill {
    width: 100%;
    height: 7px;
    background: var(--point-color);
    transform: scaleX(0);
    transform-origin: left;
}

.pagenation_wrap>li button.on {
    pointer-events: none;
}

.pagenation_wrap>li button.done .indicator-gauge .fill {
    transform: scaleX(1);
}

/* 재생버튼  */
.autoplay-toggle {
    background: rgba(255, 255, 255, .2);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.autoplay-toggle .icon-pause {
    margin-bottom: 4px;
    margin-left: 1px;
}

.autoplay-toggle .icon-play {
    margin-bottom: 2px;
    margin-left: 0.5px;
}

.swiper-control {
    margin-top: 5rem;
    display: flex;
    gap: 20px;
    align-items: center;
}



/* info section  */
.info {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.info-wrap {
    width: 100%;
    height: 100%;
}

.info-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.info-wrap h2 {
    font-size: 4rem;
    font-family: 'MaruBuri';
    color: var(--secondary-color);
    margin-bottom: 2rem;
    font-weight: 400;
}

.info-wrap .title-b {
    font-weight: 600;
}

.info-wrap p {
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-family: "Noto Serif", serif;
    line-height: 160%;
}

.info-wrap .info-sub-title {
    font-family: 'MaruBuri';
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 500;
}


/* about section  */
.about-wrap {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, #efefef);
    position: relative;
    /* 기준점 역할 */
    overflow: hidden;
    /* 원이 밖으로 튀어나가지 않게 자름 */
    z-index: 1;
}

.about-wrap::after {
    content: "";
    position: absolute;
    width: 68.75rem;
    height: 43.75rem;
    border-radius: 50%;
    background: linear-gradient(-90deg, rgba(239, 239, 239, 0) 10%, rgba(239, 239, 239, 1) 60%);
    top: -56%;
    right: 0;
    z-index: -100;
    pointer-events: none;
}

.about-title {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 10rem;
    gap: 5rem;
    align-items: center;
    max-width: 1860px;
    margin-right: 0;
}

.about-main-title {
    text-transform: uppercase;
    color: var(--primary-color);
}

.about-main-title span {
    color: var(--point-color);
}

.about-sub-title {
    margin-bottom: 0.625rem;
    font-family: "Noto Serif", serif;
}

.about-cont-wrap {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.about-cont {
    display: flex;
    margin-top: 4.125rem;
    gap: 12rem;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 6rem;
    max-width: 1860px;
}

.about-more-btn a {
    width: 13rem;
    height: 3.125rem;
    display: flex;
    padding: 0.75rem 0 0 1.56rem;
    align-items: center;
    gap: 0.60rem;
    position: relative;
}

.about-more-btn a::before {
    content: "";
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.about-more-btn a p {
    width: auto;
    display: block;
    font-size: 1.5625rem;
    font-family: "DM Serif Text", serif;
    text-transform: uppercase;
    color: var(--text-color);
    align-items: center;
}

.about-more-btn img {
    width: 2.5rem;
    height: 2.125rem;
    object-fit: cover;
}

.mySwiper-about {
    flex: 1;
}

.about-slide .swiper-slide img {
    width: 100%;
    height: 27rem;
    object-fit: cover;
    border-radius: 0 1.875rem 0 0;
}

.about-text {
    width: 100%;
}

.about-text {
    font-size: 1.4rem;
    margin-top: 1.375rem;
}

.about-text h3 {
    font-weight: 600;
}



/* active logo section  */
.m-flow-sec {
    padding: 70px 0 70px;
    /* display: none; */
    background-image: linear-gradient(to top, transparent, #efefef);
}
.m-flow-sec .text-slide {
    display: flex;
    overflow: hidden;
}

.m-flow-sec .text-slide h3 {
    font-family: "DM Serif Text", serif;
    font-size: 10rem;
    font-weight: 400;
    white-space: nowrap;
    text-shadow: -2px 0px 3px #8A8C5D, 0px 2px 3px #8A8C5D, 2px 0px 3px #8A8C5D, 0px -1px 3px #8A8C5D;
}
.m-flow-sec .text-slide h3 span {
    font-family: "Noto Serif", serif;
    font-size: 3.75rem;
    font-weight: 400;
}

.m-flow-sec .text-slide h3.origin {
    animation: 120s linear 0s infinite normal forwards running origin_left;
}
.m-flow-sec .text-slide h3.clone {
    animation: 120s linear 0s infinite normal none running clone_left;
}

section.m-flow-sec div .text-slide h3,
section.m-flow-sec div .text-slide h3 span {
    color: #f7f7f7;
}

@keyframes origin_left {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    50.01% {
        transform: translateX(100%)
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes clone_left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%)
    }
}


/* process sec  */

#smooth-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#smooth-content {
    will-change: transform;
}

.process-container {
    width: 100%;
    min-height: 100vh;
    padding: 4.375rem 1.25rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-color);
}

.stacked-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.card {
    position: relative;
    width: 100%;
    height: 75vh;
    margin-bottom: 90vh;
    background-color: var(--secondary-color);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}

.card-content,
.img-wrapper {
    width: 50%;
    height: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 6rem 4rem;
}

.process-title {
    font-family: "Noto Serif", serif;
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.process-text .sub {
    font-family: "Noto Serif", serif;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2.3rem;
}

.process-text .desc {
    line-height: 1.6;
    width: 100%;
    font-size: 1.3rem;
}

.img-wrapper {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.spacer {
    background-color: var(--black-color);
    width: 100%;
    height: 6rem;
}


/* portfolio sec  */
.port-wrap {
    width: 100%;
    padding: 7.5rem 0;
}
.port-slide {
    display: flex;
    overflow: hidden;
}
.port-slide > div {
    white-space: nowrap;
}
.port-slide > div img {
    margin-right: 1rem;
}

.port-02 .port-slide > div.origin {
    animation: 40s linear 0s infinite normal forwards running origin_p_left;
    margin-right: 0.2rem;
}
.port-02 .port-slide > div.clone {
    animation: 40s linear 0s infinite normal forwards running origin_p_left;
}
.port-01 .port-slide > div.origin {
    animation: 40s linear 0s infinite normal forwards running origin_p_right;
    margin-right: 0.2rem;
}
.port-01 .port-slide > div.clone {
    animation: 40s linear 0s infinite normal forwards running origin_p_right;
}

@keyframes origin_p_left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%)
    }
}

@keyframes origin_p_right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


.port-cont {
    display: flex;
    align-items: center;
}

.port-01 {
    margin-bottom: 4.375rem;
}

.port-01 .port-text,
.port-02 .port-text {
    width: 100%;
    max-width: 37.875rem;
    margin: 0 auto;
}

.port-01 .port-text .subtitle,
.port-02 .port-text .subtitle {
    font-size: 2.3rem;
    margin-bottom: 1.25rem;
}

.port-01 .port-text .subtitle,
.port-01 .port-text .desc,
.port-02 .port-text .subtitle,
.port-02 .port-text .desc {
    font-weight: 400;
}

.port-01 .port-text span,
.port-02 .port-text span {
    font-weight: 600;
}

.port-01 .subtitle,
.port-01 .desc {
    text-align: right;
}

.port-slide {
    width: 55%;
}
.port-text-wrap {
    width: 45%;
}

.port-slide img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
}

.mySwiper-port {
    flex: 1;
}



/* .main-copy-wrap {
    width: 100%;
    height: 100vh;
    position: relative;
}
.main-copy-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-copy-box .title {
    font-weight: 400;
    text-align: center;
}
.main-copy-box .title-bb,
.main-copy-box .title span {
    font-weight: 600;
    text-align: center;
} */

/* main copy sec */
.main-copy-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-copy-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-copy-box .title {
    position: relative;
    font-weight: 400;
    margin-bottom: 1.2rem;
    width: fit-content;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent; 
}

/* 애니메이션 설정 상세:
   - typing: 글자가 나타남
   - cursor-show: 애니메이션 시작 시 커서 색상을 흰색으로 변경
   - blink: 0.5초 주기로 정해진 횟수만큼 깜빡임 (마지막은 transparent로 종료)
*/

/* 1번째 문장: 0.5초 시작 / 2초 동안 타이핑 / 0.5초 주기로 4번 깜빡임 (총 2초) */
.main-copy-box .title:nth-child(1) {
    animation: 
        typing 2s steps(20) 0.5s forwards,
        cursor-show 0.1s 0.5s forwards,
        blink 0.5s 0.5s 4 forwards; 
}

/* 2번째 문장: 2.5초 시작 / 2초 동안 타이핑 / 0.5초 주기로 4번 깜빡임 (총 2초) */
.main-copy-box .title:nth-child(2) {
    animation: 
        typing 2s steps(20) 2.5s forwards,
        cursor-show 0.1s 2.5s forwards,
        blink 0.5s 2.5s 4 forwards;
}

/* 3번째 문장: 4.5초 시작 / 2.5초 동안 타이핑 / 0.5초 주기로 5번 깜빡임 (총 2.5초) */
.main-copy-box .title:nth-child(3) {
    animation: 
        typing 2.5s steps(25) 4.5s forwards,
        cursor-show 0.1s 4.5s forwards,
        blink 0.5s 4.5s 5 forwards;
}

.main-copy-box .title-bb,
.main-copy-box .title span {
    font-weight: 600;
}

.main-copy-box .title span { color: var(--point-color); }

/* [애니메이션 정의] */

@keyframes typing {
    from { max-width: 0; }
    to { max-width: 100%; }
}

@keyframes cursor-show {
    to { border-right-color: #fff; }
}

/* 깜빡임 애니메이션: 100% 지점에서 투명하게 끝나도록 설정 */
@keyframes blink {
    0%, 49% { border-right-color: var(--gray-color); }
    50%, 100% { border-right-color: transparent; }
}




/* contact sec  */
.contact-logo-wrap {
    padding-top: 4.375rem;
}
.contact-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-container {
    display: flex;
    gap: 1.875rem;
    height: 58.125rem;
    padding-bottom: 4.375rem;
}
.contact-logo {
    width: 3.75rem;
    height: 5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}
.contact-d-01 {
    background-image: url("../images/contact-01.png");
    width: 7%;
    height: 100%;
    border-radius: 1.875rem;
}
.contact-d-02 {
    background-image: url("../images/contact-02.png");
    width: 23%;
    height: 100%;
    border-radius: 1.875rem;
    position: relative;
}
.contact-d-02 p {
    position: absolute;
    padding: 2.25rem;
    bottom: 0;
    left: 0;
    color: var(--secondary-color);
}
.contact-d-03 {
    width: 70%;
    height: 100%;
}
.contact-d-03 form,
.contact-d-03 form fieldset {
    height: 100%;
}
.contact-d-03 form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.875rem;
}
.contact-box {
    background-color: var(--secondary-color);
    border-radius: 1.875rem;
    height: calc(100% - 7.5rem);
    padding: 3.375rem 3.375rem 2.125rem 3.375rem;
}
.contact-box p,
legend {
    color: #A69576;
    font-size: 1.25rem;
    letter-spacing: -1px;
    font-weight: 500;
}
.contact-form {
    margin-top: 1.71rem;
    border-bottom: 1px solid #A69576;
}
.contact-info {
    display: flex;
    justify-content: space-between;
}
.contact-info .contact-form {
    width: calc((100% - 1.875rem) / 2);
}
input,
textarea {
    background: none;
    border: none;
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: -1px;
    caret-color: var(--text-color);
    color: var(--text-color);
    border-width: 0;
    width: 100%;
    height: 2.4rem;
    resize: none;
    font-family: pretendard;
}
input:focus,
textarea:focus {
    outline: none;
}
input::placeholder,
textarea::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}
.message {
    width: 100%;
    height: 15.375rem;
    margin-top: 0.5rem;
}

.contact-send {
    background-color: var(--black-color);
    width: 100%;
    height: 5.625rem;
    border-radius: 1.875rem;
    position: relative;
}
.contact-send > div {
    padding: 1.25rem 3.375rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.send-txt {
    font-family: "DM Serif Text", serif;
    color: var(--secondary-color);
    font-size: 2.1875rem;
    text-transform: uppercase;
    line-height: 130%;
    letter-spacing: -1px;
}
.send-img {
    width: 2.3rem;
    height: 2.3rem;
    object-fit: cover;
}
.contact-send div:nth-of-type(2) {
    display: none;
}


/* 1680px 1280px 1024px 768px 540px 414px */

@media(max-width: 1680px) {
    .about-cont {
        gap: 7rem;
    }
    .about-slide .swiper-slide img {
        height: 24rem;
    }

    .stacked-cards {
        width: clamp(75%, 4vh, 80%);
    }
    .process-title {
        font-size: 2rem;
    }
    .process-text .sub {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}

@media(max-width: 1280px) {
    .about-cont {
        gap: 5rem;
    }
    .about-slide .swiper-slide img {
        height: 22rem;
    }

    .stacked-cards {
        width: clamp(80%, 4vh, 85%);
    }
    .card-content {
        width: 60%;
    }
    .img-wrapper {
        width: 40%;
    }

    .contact-d-01 {
        display: none;
    }
    .contact-d-02 {
        width: 15%;
    }
    .contact-d-03 {
        width: 85%;
    }
    .contact-d-02 p {
        display: none;
    }
}


@media (max-width: 1024px) {
    .about-slide .swiper-slide img {
        height: 18rem;
    }

    .stacked-cards {
        width: clamp(85%, 4vh, 90%);
    }
    .contact-d-02 {
        display: none;
    }
    .contact-d-03 {
        width: 100%;
    }
}


@media (max-width: 890px) {
    .card {
        height: 65vh;
        flex-direction: column;
    }
    .card-content,
    .img-wrapper {
        width: 100%;
    }
    .card-content {
        padding: 4rem 3.5rem 2.5rem 3.5rem;
    }
    .process-title {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .stacked-cards {
        width: clamp(90%, 3vh, 95%);
    }
    .process-title {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
    .process-text .sub {
        font-size: 1.2rem;
        margin-bottom: 1.7rem;
    }
    .process-text .desc {
        line-height: 1.6;
        width: 100%;
        font-size: 1.125rem;
    }
}

@media (max-width: 540px) {
    .process-container {
        width: 100%;
        min-height: 100vh;
        padding: 60px 20px 0;
    }
    .stacked-cards {
        width: clamp(95%, 3vh, 100%);
    }
    .card {
        height: 55vh;
    }
    .card-content {
        padding: 3.5rem 3rem 2rem 3rem;
    }
    .process-text {
        line-height: 1.3;
        margin-top: 0;
    }
    .img-wrapper {
        border-radius: 10px 10px 0 0;
    }
}