/* process sec  */
/* .process-sec {
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    scroll-behavior: none;
}
.process-wrap {
    width: 100%;
    padding: 70px 20px 80px;
}

.process-nav::after {
    content: "";
    position: absolute;
    right: -1px;
    top: -100vh;
    bottom: -100vh;
    width: 1px;
    background-color: rgba(217, 217, 217, 0.5);
    z-index: 1;
}

.process-wrap {
    overflow: hidden;
}

.accordions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.process {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
    min-height: 250px;
}

.process-nav {
    width: 7.5rem;
    flex-shrink: 0;
    position: relative;
    color: var(--secondary-color);
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5625rem;
    line-height: 130%;
    letter-spacing: -1px;
    font-weight: 600;

    margin-right: 20px;
}

.process-nav span, 
.process-nav-inner {
    position: absolute;
    white-space: nowrap;
    transform: rotate(-90deg);

    width: auto; 
    text-align: center;
}

.process-cont {
    flex: 1;
    width: calc(100% - 7.5rem);
    max-width: 77.5rem;
    background-color: var(--secondary-color);
    border-radius: 50px;
    padding: 3rem 5rem;
    margin: 0 auto;
    overflow: hidden;
}

.process-title,
.process-desc-wrap,
.process-list li img {
    width: 100%;
    max-width: 81.5rem;
    margin: 0 auto;
}

.process-title {
    font-family: "Noto Serif", serif;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.375rem;
}
.process-desc-wrap {
    display: flex;
    gap: 1.875rem;
    margin-bottom: 3.25rem;
}

.process-desc-subtitle {
    font-family: "Noto Serif", serif;
    width: 100%;
    max-width: 17.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.process-04 .process-title-left > span {
    font-family: "Noto Serif", serif;
    font-weight: 600;
}

.process-desc {
    font-weight: 400;
    font-size: 1.35rem;
    line-height: 130%;
}

.process-cont img {
    display: block;
    width: 100%;
    height: 19rem;
    object-fit: cover;
    margin-top: 3.15rem;
} */

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background-color: var(--black-color);
}

#content {
    will-change: transform;
}

.spacer, .process-container {
    width: 100%;
    min-height: 100vh;
    padding: 70px 20px 80px;
}

.process-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stacked-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card {
    width: 100%;
    height: 75vh;
    display: flex;
    margin-bottom: 75vh;
}

.process-nav {
    width: 7.5rem;
    color: var(--secondary-color);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5625rem;
    line-height: 130%;
    letter-spacing: -0.5px;
    font-weight: 600;

    margin-right: 20px;
    white-space: nowrap;

    flex-shrink: 0;
    transform: rotate(-90deg);
    transform-origin: center center;
}

.card-content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    box-shadow: rgba(0,0,0,0.2) 0 10px 20px, rgba(0,0,0,0.2) 0 6px 6px;
    
    border-radius: 50px;
    padding: 3rem 5rem;
    margin: 0 auto;
    overflow: hidden;
}

.process-title {
    font-size: clamp(1.8rem, 5vw, 3.5rem);
    display: flex;
    justify-content: space-between  ;
}

.process-desc-wrap {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    line-height: 1.6;
    margin-top: 15px;
}

.img-wrapper img {
    border-radius: inherit;
    will-change: clip-path;
}

.process-title,
.process-desc-wrap,
.process-list li img {
    width: 100%;
    max-width: 81.5rem;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .stacked-cards {
        width: clamp(85%, 4vh, 90%);
    }
}

@media (max-width: 580px) {
    .card {
        flex-direction: column-reverse;
    }

    .card-content,
    .img-wrapper {
        width: 100%;
    }

    .process-desc-wrap {
        line-height: 1.3;
        width: 90%;
        margin-top: 0;
    }

    .img-wrapper {
        height: 60%;
        border-radius: 10px 10px 0 0;
    }
}

@media (max-width: 480px) {
    .img-wrapper {
        height: 80%;
    }
    
    .card-content {
        height: 20%;
    }

    .process-title {
        margin-top: 20px;
    }

    .process-desc-wrap {
        display: none;
    }
}